h1{
    text-align: center;
}
/* HTML: <img class="heart" src="" alt=""> */
img {
    mask-border: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
  }
  img {
    height: 90vh;
    width: 500px;
    margin-left: 367px;
    mask:
     radial-gradient(at 70% 31%,#000 29%,#0000 30%),
     radial-gradient(at 30% 31%,#000 29%,#0000 30%),
     linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
  }

body{
  background-image: radial-gradient(#edf2f4,#edf2f4,#ef233c,#d90429);
  font-family: 'Alkatra';font-size: 22px;
}